#wrapper{
  margin-left:0px;
  margin-right:130px;
  margin-top:30px;
  width:1200px;
  height:400px;
}
#banner{
   width:100%;
   height:100%;
   position:relative;
}
#bip{
   text-align:center;
   font-size:0px;
   color:red;
}
