@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
<style>

/*Formatação  Cabeçalho*/

header#cabecalho {
	border-bottom: 1px #606060 solid;
	background-color: green;
	background: url("../img/logo.png") no-repeat 0px 80px;
	
}
header#cabecalho a {
	display:inline-block;
	background-color:#dddddd;
	padding:10px;
	margin: 5px 10px 10px 5px;
	text-decoration:none;
	color: #000000;
	transition: background-color 1s;
}
header#cabecalho a:hover{
	background-color: #606060;
	color: #ffffff;
	text-decoration:none;
}
header#cabecalho h1{
	font-family: 'Lobster', cursive;
	font-size: 40pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding:0px;
	margin:0px;
	height:200px;
	background: url("../img/logo.png") no-repeat 0px 40px;
	
	
}
header#cabecalho h2{
	font-size:15pt;
	padding:0px;
	margin-bottom:3px;
	margin-top:0px;
	font-family: 'Indie Flower', cursive;
}
header#cabecalho hgroup#login{
	display: block;
	position:relative;
	top:-200px;
	left:980px;
	margin:0px;
	padding:0px;
	
}
header#cabecalho form#busca{
	display:block;
	position: relative;
	top:-300px;
	margin:0px;
	padding:0px;
	left:500px;
}
header#cabecalho input#caixa{
	width:400px;
	height:30px;
	border: 2px solid black;
}


/*Formatação do menu */


nav#menu{
	height:0px;
}
nav#menu ul{
	list-style:none;
	text-transform:uppercase;
}

nav#menu li{
	display:inline-block;
	background-color:#dddddd;
	padding:10px;
	margin:10px;
	position:relative;
	top:-120px;
	left:300px;
	transition: background-color 1s;
}


nav#menu li:hover{
	background-color: #606060;
}

nav#menu a {
	text-decoration:none;
	color: #000000;
}
nav#menu a:hover{
	color: #ffffff;
	text-decoration:underline;
}
/*Formatação Banner*/

section#promocao {
	display: block;
	height:400px;
	width:700px;

}

/*Formatação da Interface*/

body{
	background-color: white;
	color: rgba(0,0,0,1);
}

div#interface {
	width:1200px;
	background-color:#ffffff;
	margin:30px;
	box-shadow: 0px 0px 100px black;
	padding: 10px;
	margin-right:0px;
}

/*Formatação de Imagens com legendas */

article#imagens ul{
	margin:0px;
	padding:50px;
	overflow:hidden;
	list-style:none;
	
	
}
article#imagens li{
	width:330px;
	height:280px;
	margin:10px;
	float:left;
	border: 5px solid #ffffff;
	background-color:#ffffff;
	box-shadow:1px 1px 3px rgba(0,0,0,.4);
	-webkit-transition: all 4s ease-in;
}
article#imagens h2{
	position:relative;
	top:230px;
	color:black;
	text-shadow: 1px 1px 1px gray;
	background-color:rgba(0,0,0,.3);
	
}
article#imagens li:hover{
	-webkit-transform:scale(1.3);
}
article#imagens li#notebook{
	background: url('../img/notebook1.png') no-repeat;
}

article#imagens li#tablet{
	background: url('../img/tablet1.png') no-repeat;
}
article#imagens li#celular{
	background: url('../img/smartphone1.png') no-repeat;
}
article#imagens img{
	margin-bottom:40px;
	width:370px;
	height:280px;
	margin:10px;
	float:left;
	border: 5px solid #ffffff;
	background-color:#ffffff;
	box-shadow:1px 1px 3px rgba(0,0,0,.4);
	-webkit-transition: all .4s ease-in;
}


figcaption#tablet1{
	position:relative;
	left:-300px;
	top:300px;
}
figcaption#celular1{
	position:relative;
	left:850px;
	top:-10px;
}

 figcaption#imagem1{
	 position: relative;
	left:-300px;
	top:300px;
	 
	}
figcaption#imagem2{
    position: relative;
	left:-300px;
	top:300px;
	 
	}
figcaption#imagem3{
    position:absolute;
	left:850px;
	top:1250px;

	 
	}

figcaption#imagem4{
	 position:absolute;
	 left:100px;
	 top:1600px;
	 
	}
figcaption#imagem5{
	 position:absolute;
	 left:480px;
	 top:1590px;
	 
	}
figcaption#imagem6{
	 position:absolute;
	 top:1590px;
	 left:850px;

	}
/*Formatação para os Campos Publicidade*/

aside#publi1 img{
	position:relative;
	left:10px;
	top:50px;
	width:500px;
	height:350px;
	border: 4px solid black;
	margin-left:40px;
	margin-bottom:-10px;
	margin-top:40px;
}

aside#publi2 img{
	display:block;
	position:relative;
    left:620px;
    top:-342px;	
	width:500px;
	height:350px;
	border: 4px solid black;
	margin-bottom:-250px;
	padding:0px;
	margin-top:40px;
}
/*Formatação rodapé*/

footer {
    background-color:gray;
    color:black;
    clear:both;
    text-align:center;
    padding:5px; 
	margin:0px;
}
/*Formatação da tela Sobre Nós*/

section#sobre {
	padding: 30px;
	text-align:justify;
	font-size: 20pt;
	font-family: 'Lobster', cursive;
	color:#888888;
	margin:0px;
}
section#sobre h1{
	font-family: 'Indie Flower', cursive;
	font-size: 40pt;
	color: black;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	position:relative;
	top:0px;
	left:430px;
}
</style>